/* Application-wide Styles */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 10px;
  text-align: center;
}

.card {
  text-align: left;
  padding: 1rem;
  border-radius: 4px;
  margin: 3em .5em 30px;
  background-color: #4899ea;
}

mat-dialog-container {
  background-color: #f2f2f2 !important;
}


/*
mat-dialog {
    overflow-x: hidden;
    overflow-y: hidden;

}
*/
